# Porta do servidor Express
PORT=3000

DATABASE_URL="mysql://usuario:senha@host/db"

DATABASE_USER="usuario"
DATABASE_PASSWORD="senha"
DATABASE_NAME="db"
DATABASE_HOST="host"
DATABASE_PORT=3306 #somente local